$color-primary: #cf711f;
$color-primary-light: #e67e22;

$color-grey: #333;
$color-grey-light: #555;
$color-grey-light-2: #888;
$color-grey-light-3: #ddd;

$color-white: #fff;
$color-white-2: #fdf2e9;

$color-black: #000;

$color-pale: #fae5d3;
