.food-pledge {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem;
  align-items: center;

  @include respond(tab-land) {
    grid-gap: 4rem;
  }

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }

  @include respond(phone) {
    row-gap: 3rem;
  }

  &__pledges {
    list-style: none;
  }
  &__pledge {
    font-size: 1.8rem;
    line-height: 2;

    &::before {
      content: "✔";
      color: $color-primary;
    }
  }

  &__form {
    background-color: $color-pale;
    border-radius: 0.9rem;
    padding: 6rem 5rem;
    @include flex;

    @include respond(tab-port) {
      padding: 5rem 3rem;
    }
  }
}
