.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5rem;
  align-items: center;

  .heading-primary {
    margin-bottom: 3rem;
  }

  &__description {
    font-size: 2rem;
    line-height: 1.6;
    margin-bottom: 3rem;
  }

  &__pledge-note {
    display: block;
    font-size: 1.6rem;
    font-weight: 300;
    color: $color-primary;
    margin-bottom: 1.6rem;
    letter-spacing: 0.75px;
  }
}
