.offerings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  align-items: center;

  &__number {
    font-size: 8.6rem;
    font-weight: 600;
    color: $color-grey-light-3;
    margin-bottom: 1.2rem;
  }

  &__img-box {
    @include flex;
    position: relative;

    &::before {
      content: "";
      height: 60%;
      width: 50%;
      border-radius: 50%;
      background-color: $color-pale;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: -10;
    }
  }

  &__img {
    width: 40%;
    display: inline-block;
  }
}
