.products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 6rem;
  align-items: center;

  @include respond(tab-land) {
    column-gap: 2rem;
    row-gap: 4rem;
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    row-gap: 2rem;
  }
}
