.header {
  @include flex;
  justify-content: space-between;
  background-color: $color-white-2;
  padding: 0.4rem 5rem;
  height: 9.4rem;
  position: relative;

  @include respond(tab-land) {
    padding: 0 3.2rem;
  }

  &__sticky {
    position: fixed;
    top: 0;
    bottom: 0;
    height: 7.8rem;
    width: 100%;
    padding-top: 0;
    padding-bottom: 0;
    background-color: rgba($color-white, 0.97);
    z-index: 999;
    box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.3);
  }
}
