.pledges {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 3rem;
  row-gap: 6rem;

  @include respond(tab-land) {
    column-gap: 2rem;
    row-gap: 4rem;
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(2, 1fr);
    column-gap: 3rem;
  }

  @include respond(phone) {
    grid-template-columns: 1fr;
    row-gap: 3rem;
  }

  .pledge {
    @include flex;
    flex-direction: column;

    &__icon {
      font-size: 3.4rem;
      color: $color-primary;
      margin-bottom: 1.5rem;
    }

    &__heading {
      font-size: 2.4rem;
      color: $color-grey;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }

    &__description {
      font-size: 1.8rem;
      line-height: 1.8;
    }
  }
}
