// *********** BODY TYPOGRAPHY ************
body {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: $color-grey-light;
  box-sizing: border-box;
}

// ************* HEADINGS *************
.heading-primary {
  font-size: 5rem;
  line-height: 1.05;

  @include respond(tab-land) {
    font-size: 4.5rem;
  }

  @include respond(phone) {
    font-size: 4rem;
  }
}

.heading-primary,
.heading-secondary,
.heading-tertiary {
  font-weight: 700;
  color: #333;
  letter-spacing: -0.05rem;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: $color-primary;
  text-transform: uppercase;
  margin-bottom: 1rem;
  letter-spacing: 0.75px;
}

.heading-secondary {
  font-size: 4.4rem;
  line-height: 1.2;

  @include respond(tab-land) {
    font-size: 3.6rem;
  }
}

.heading-tertiary {
  font-size: 3rem;
  line-height: 1.2;

  @include respond(tab-land) {
    font-size: 2.4rem;
  }
}

.description {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: justify;
}
