.u-center-text {
  text-align: center !important;
}

.u-left-text {
  text-align: left !important;
}

.u-margin-top-medium {
  margin-top: 6rem !important;

  @include respond(tab-port) {
    margin-top: 4rem !important;
  }
}

.u-margin-bottom-medium {
  margin-bottom: 6rem !important;

  @include respond(tab-port) {
    margin-bottom: 4rem !important;
  }
}

.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 0 auto;

  @include respond(phone) {
    padding: 0 2rem;
  }
}
