// ************** HERO SECTION ******************

.section-hero {
  background-color: $color-white-2;
  padding: 4.8rem 0 9.6rem 0;

  @include respond(tab-port) {
    padding: 4.8rem 0;
  }
}

.section-about {
  padding: 9.6rem 0 0 0;
}

.section-offerings {
  padding: 9.6rem 0;
}

.section-products {
  padding: 9.6rem 0;
}

.section-pledges {
  padding: 9.6rem 0;
}

.section-food-pledge {
  padding: 9.6rem 0;
}

.section-footer {
  padding: 12.6rem 0;
}
