.section-all-products {
  padding: 8rem 0;
}

.section-about {
  padding: 8rem 0 4rem 0;

  @include respond(tab-land) {
    padding: 4rem 0 4rem 0;
  }
}

.section-offerings {
  padding: 8rem 0;

  @include respond(tab-land) {
    padding: 4rem 0;
  }
}

.section-products {
  padding: 8rem 0;

  @include respond(tab-land) {
    padding: 4rem 0;
  }
}

.section-pledges {
  padding: 8rem 0;

  @include respond(tab-land) {
    padding: 4rem 0;
  }
}

.section-food-pledge {
  padding: 8rem 0;

  @include respond(tab-land) {
    padding: 4rem 0;
  }
}

.section-footer {
  padding: 10rem 0 8rem 0;

  @include respond(tab-land) {
    padding: 4rem 0;
  }
}
